WrexhamFCMobileApp/WrexhamFCMobileApp/Service References/WrexhamFCServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1633/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1633/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1633/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WrexhamFCService" />
      <xsd:import schemaLocation="http://localhost:1633/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNews" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllNewsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllNewsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNews_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNews" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMatchesInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchesInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMatchesInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchesInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMatchSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlayerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeagueTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeagueTable" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeagueTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeagueTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllNews" message="tns:IService1_GetAllNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllNewsResponse" message="tns:IService1_GetAllNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllNewsInfo" message="tns:IService1_GetAllNewsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllNewsInfoResponse" message="tns:IService1_GetAllNewsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNewsByID" message="tns:IService1_GetNewsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNewsByIDResponse" message="tns:IService1_GetNewsByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertNews" message="tns:IService1_InsertNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertNewsResponse" message="tns:IService1_InsertNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMatchesInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMatchesInfo" message="tns:IService1_GetAllMatchesInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMatchesInfoResponse" message="tns:IService1_GetAllMatchesInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMatchByID" message="tns:IService1_GetMatchByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMatchByIDResponse" message="tns:IService1_GetMatchByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMatchSummary" message="tns:IService1_GetMatchSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMatchSummaryResponse" message="tns:IService1_GetMatchSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPlayers" message="tns:IService1_GetAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPlayersResponse" message="tns:IService1_GetAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlayerByID" message="tns:IService1_GetPlayerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlayerByIDResponse" message="tns:IService1_GetPlayerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeagueTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLeagueTable" message="tns:IService1_GetLeagueTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLeagueTableResponse" message="tns:IService1_GetLeagueTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNews">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNewsInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllNewsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNewsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNews">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMatchesInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMatchesInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMatchByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMatchSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlayerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagueTable">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLeagueTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1633/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>