WrexhamFCMobileApp/WrexhamFCMobileApp/Service References/WrexhamFCServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1633/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WrexhamFCService" />
  <xs:element name="GetAllNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetAllNewsResult" nillable="true" type="q1:ArrayOfTableNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNewsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNewsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetAllNewsInfoResult" nillable="true" type="q2:ArrayOfTableNewsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDNews" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetNewsByIDResult" nillable="true" type="q3:TableNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="NewsObject" nillable="true" type="q4:TableNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatchesInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMatchesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetAllMatchesInfoResult" nillable="true" type="q5:ArrayOfTableMatchesInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDMatch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetMatchByIDResult" nillable="true" type="q6:TableMatches" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDMatch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetMatchSummaryResult" nillable="true" type="q7:ArrayOfeventsByMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetAllPlayersResult" nillable="true" type="q8:ArrayOfTablePlayers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetPlayerByIDResult" nillable="true" type="q9:TablePlayers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeagueTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeagueTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WrexhamFCService" minOccurs="0" name="GetLeagueTableResult" nillable="true" type="q10:ArrayOfTableStandings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>